@page "/about"
@using BlazorApp.Shared
 @inject NavigationManager NavigationManager

<div class="card">
    <div class="card-header">
        <h4>Über Bergfest</h4>
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
        <a href="/dataprotection">Datenschutz</a> | <a href="/impressum">Impressum</a>

    </div>
</div>