@page "/authorize"
@using BlazorApp.Shared
@using BlazorApp.Client.Utils
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<PageTitle>Bergfest - Strava Login</PageTitle>

<div class="card">
    <div class="card-header">
        <h4>Bergfest autorisieren</h4>
    </div>
    <div class="card-body">
        Damit "Bergfest" deine Segment-Leistungen auswerten kannst, musst du "Bergfest" auf Strava autorisieren: 
        <a href="https://www.strava.com/oauth/authorize?client_id=92364&redirect_uri=@(NavigationManager.BaseUri)stravaresponse&approval_prompt=force&scope=activity:read&response_type=code">Bei Strava anmelden</a>
    </div>
</div>

@code {
}