@page "/authorize"
@using BlazorApp.Shared
@using BlazorApp.Client.Utils
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<PageTitle>Bergfest - Strava Login</PageTitle>

<div class="m-2 p-4 bg-light border">
    @if (!AppStateStore.IsConnectedWithStrava)
    {
        <EditArticle ArticleKey="Authorize">
            <h2>Mit Strava verbinden</h2>
            <p>
                Damit "Bergfest" deine Segmentleistungen auswerten kann, musst du "Bergfest" als Anwendung mit deinem Strava-Account verbinden.
            </p>
        </EditArticle>
    }
    else
    {
        <EditArticle ArticleKey="AuthorizeResponse">
            <h2>Mit Strava verbunden</h2>
            <p>
                Bergfest ist jetzt mit deinem Strava-Account verbunden und deine Segment-Zeiten werden ab jetzt in die Ranglisten aufgenommen.
                Falls du nicht mehr dabei sein möchtest, kannst du ganz einfach bei Strava über den Menüpunkt "Einstellungen/Meine Apps" die Berechtigungen
                für Bergfest zurück nehmen. Dann werden alle Daten gelöscht und keine Daten mehr aufgenzeichnet.
            </p>
        </EditArticle>
        <a class="btn btn-primary" role="button" href="/">Zu den Segmenten</a>
    }
    <StravaConnect Code="@Code" Error="@Error" OnConnectedCallback="StateHasChanged"></StravaConnect>

</div>
<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "code")]
    public string Code { get; set; } = String.Empty;
    [Parameter]
    [SupplyParameterFromQuery(Name = "error")]
    public string Error { get; set; } = String.Empty;
    private NotificationMessage? _notificationMessage;

}