@page "/dataprotection"

<div class="container">
    <h3>Datenschutzerkl&auml;rung</h3>
    <h4>Datenschutz</h4>
    <p>
        Die Betreiber dieser Seiten nehmen den Schutz Eurer pers&ouml;nlichen Daten sehr ernst.
        Wir behandeln Eure personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerkl&auml;rung.
    </p> 
    <p>
        Für die Registrierung für Segmente auf Bergfest, muss eine Anmeldung (Authentifizierung) über Strava
        erfolgen.
    </p>

    <h4>Cookies</h4>
    <p>
        Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf deinem Rechner keinen Schaden an und
        enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.
        Cookies sind kleine Textdateien, die auf deinem Rechner abgelegt werden und die dein Browser speichert.
    </p>
    <p>
        Alle von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende deines Besuchs
        automatisch gel&ouml;scht.
    </p>

    <h4>Server-LogFiles</h4>
    <p>
        Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die dein Browser
        automatisch an uns &uuml;bermittelt. Dies sind:
    </p>
    <ul>
        <li>Browsertyp und Browserversion</li>
        <li>verwendetes Betriebssystem</li>
        <li>Referrer URL</li>
        <li>Uhrzeit der Serveranfrage</li>
    </ul>
    <p>
        Diese Daten können nicht bestimmten Personen zugeordnet werden. Eine Zusammenf&uuml;hrung dieser Daten mit anderen
        Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachtr&auml;glich zu pr&uuml;fen, wenn uns
        konkrete Anhaltspunkte f&uuml;r eine rechtswidrige Nutzung bekannt werden.
    </p>
    <h4>SSL-Verschl&uuml;sselung</h4>
    <p>
        Diese Seite nutzt aus Gr&uuml;nden der Sicherheit und zum Schutz der &Uuml;bertragung vertraulicher Inhalte
        eine SSL-Verschl&uuml;sselung. Eine verschl&uuml;sselte Verbindung erkennst du daran, dass die Adresszeile des Browsers
        von &quot;http://&quot; auf &quot;https://&quot; wechselt und an dem Schloss-Symbol in der Browserzeile.
    </p>
    <p>
        Wenn die SSL Verschl&uuml;sselung aktiviert ist, k&ouml;nnen die Daten, die du an uns &uuml;bermitteln, nicht von
        Dritten mitgelesen werden.
    </p>
    <p class="text-muted small">Quelle: <a href="https://www.e-recht24.de" target="_blank" title="eRecht24">eRecht24</a></p>
</div>


@code {

}

