@page "/settings"
@attribute [Authorize(Roles = "admin")]
@using BlazorApp.Client.Utils
@using BlazorApp.Shared
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<h3>Einstellungen</h3>
<TabControl>
    <TabPage Text="Neue Infobox" Name="Info">
        <h5>Infobox</h5>
        <EditInfoItem></EditInfoItem>
    </TabPage>
    <TabPage Text="Teilnehmer" Name="Members">
        <h5>Teilnehmer</h5>
        <AdminMembers></AdminMembers>
    </TabPage>
    <TabPage Text="Leistungen" Name="Efforts">
        <h5>Leistungen</h5>
        <AdminEfforts></AdminEfforts>
    </TabPage>
</TabControl>

@code {

}
