@page "/settings"
@attribute [Authorize(Roles = "admin")]
@using BlazorApp.Client.Utils
@using BlazorApp.Shared
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<h3>Settings</h3>
<TabControl>
    <TabPage Text="Neue Infobox" Name="Info">
        <h4>Infobox</h4>
    </TabPage>
    <TabPage Text="Teilnehmer" Name="Members">
        <h4>Teilnehmer</h4>
    </TabPage>
    <TabPage Text="Leistungen" Name="Efforts">
        <h4>Leistngen</h4>
    </TabPage>
</TabControl>

@code {

}
