@page "/stravaresponse"
@using BlazorApp.Shared
@using BlazorApp.Client.Utils
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<h3>Strava</h3>
<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />
@if (null != _stravaAccount)
{
    <p>
        Bergfest ist jetzt mit deinem Strava-Account verbunden und deine Segment-Zeiten werden in die Ranglisten aufgenommen.
        Falls du nicht mehr dabei sein möchtest, kannst du ganz einfach bei Strava über den Menüpunkt "Einstellungen/Meine Apps" die Berechtigungen
        für Bergfest zurück nehmen. Dann werden alle Daten gelöscht und keine Daten mehr aufgenzeichnet.
    </p>
    <a class="btn btn-primary" role="button" href="/">Zu den Segmenten</a>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "code")]
    public string Code { get; set; } = String.Empty;
    [Parameter]
    [SupplyParameterFromQuery(Name = "error")]
    public string Error { get; set; } = String.Empty;
    private NotificationMessage? _notificationMessage;
    private StravaAccess? _stravaAccount = null;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (!String.IsNullOrEmpty(Code))
            {
                StravaAccess? stravaAccount = await Api.AuthorizeBergfestOnStrava(Code);
                if (null == stravaAccount)
                {
                    throw new Exception("No Strava response received.");
                }
                _stravaAccount = stravaAccount;
            } else
            {
                await Api.GetFunctionsVersion();
                throw new Exception($"Zugriff verweigert.");
            }
        }
        catch (Exception ex)
        {
            if (null != _notificationMessage)
            {
                _notificationMessage.ShowError($"Fehler: {ex.Message}");
            }
            return;

        }
    }
}