/* Fix height and enable scrolling */
.grid {
    height: 36rem;
    overflow-y: auto;
}

.grid ::deep table {
    min-width: 100%;
}
/* Sticky header while scrolling */
.grid ::deep thead {
    position: sticky;
    top: 0;
    background-color: #d8d8d8;
    outline: 1px solid gray;
    z-index: 1;
}
/* For virtualized grids, it's essential that all rows have the same known height */
.grid ::deep tr {
    height: 50px;
    border-bottom: 0.5px solid silver;
}
.grid ::deep tbody td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
}

.grid ::deep th.action {
    width: 7rem;
}

/* Magnifying glass */
.grid ::deep .last-name .col-options-button {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"> <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /> </svg>');
}