@inherits LayoutComponentBase

<div class="page">
    <div style="background-image: none; background-color: #1d123a; color: #efe46b;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main w-100">
        <div class="top-row px-4">
            <AccessControl />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
