@using BlazorApp.Shared
@using BlazorApp.Client.Utils
@implements IDisposable
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager
<div class="top-row px-3 m-2 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bergfest</a>
        <img class="img-fluid" style="height:2em" src="/images/api_logo_pwrdBy_strava_horiz_light.png" alt="Powered by Strava" title="Powered by Strava" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart"></span> Segmente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Challenges">
                <span class="oi oi-pulse"></span> Challenges
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Authorize">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Strava Connect
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MyActivity">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Nachreichen
            </NavLink>
        </div>
        <AuthorizeView Roles="admin,segmentadmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="PostActivity">
                        <span class="oi oi-envelope-closed" aria-hidden="true"></span> Aktivität
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="EditSegment">
                        <span class="oi oi-document" aria-hidden="true"></span> Neues Segment
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="EditChallenge">
                        <span class="oi oi-document" aria-hidden="true"></span> Neue Challenge
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="EditUser">
                        <span class="oi oi-person" aria-hidden="true"></span> Neuer Teilnehmer
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Settings">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Einstellungen
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MyEfforts">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Meine Segmente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Faq">
                <span class="oi oi-question-mark" aria-hidden="true"></span> FAQ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Über ...
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override void OnInitialized()
    {
        AppStateStore.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        AppStateStore.OnChange -= StateHasChanged;
    }
}
