@using BlazorApp.Shared
@using BlazorApp.Client.Utils
@implements IDisposable
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager
<div class="top-row px-3 m-2 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bergfest</a>
        <img class="img-fluid" style="height:2em" src="/images/api_logo_pwrdBy_strava_horiz_light.png" alt="Powered by Strava" title="Powered by Strava" />
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi-graph-up-arrow pe-2"></i> Segmente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Challenges">
                <i class="bi-list-check pe-2"></i> Challenges
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Scopes">
                <i class="bi-folder2 pe-2"></i> Sammlungen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Authorize">
                <i class="bi-strava pe-2"></i>Strava Connect
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MyActivity">
                <i class="bi-envelope-open-fill pe-2" aria-hidden="true"></i> Nachreichen
            </NavLink>
        </div>
        <AuthorizeView Roles="admin,segmentadmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="PostActivity">
                        <i class="bi-envelope-check-fill pe-2" aria-hidden="true"></i> Aktivität
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="EditSegment">
                        <i class="bi-file-earmark-text-fill pe-2" aria-hidden="true"></i> Neues Segment
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="EditChallenge">
                        <i class="bi-file-earmark-spreadsheet-fill pe-2" aria-hidden="true"></i> Neue Challenge
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Settings">
                        <i class="bi-wrench pe-2" aria-hidden="true"></i> Einstellungen
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MyEfforts">
                <i class="bi-bar-chart-line-fill pe-2" aria-hidden="true"></i> Meine Segmente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Faq">
                <i class="bi-question-lg pe-2" aria-hidden="true"></i> FAQ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <i class="bi-list pe-2" aria-hidden="true"></i> Über ...
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override void OnInitialized()
    {
        AppStateStore.OnChange += StateHasChanged;
    }
    public void Dispose()
    {
        AppStateStore.OnChange -= StateHasChanged;
    }
}
